:root {
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-black-clr);
  background-color: var(--primary-white-clr);

  --header-height: 74px;
  --footer-height: 37px;
  --primary-white-clr: #fff;
  --primary-black-clr: #0D0D0D;
  --primary-clr: #23b499;
  --primary-bg-clr: #6B6B6B;
  --side-bar-details-bg: #2B2C2F;
  --slider-item-clr: #8D919C;
  --slider-item-bg: #1E1F22;
  --meme-ranges-bg: #494B50;
  --meme-bg: #F0F1F2;
  --header-footer-bg: #1E1F22;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}